h1{ color: #7f5539; }
p{color: #180b03;}
h2{color: #9c6644; font-weight: bold ;}
li{color: #180b03;}
h3{color: black;}
h4{color: #9a031e;}
*{margin: 0 auto;
padding: 0 auto;}


body {
    background: #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .checkbox {
    display: none;
    position: absolute;
    right: 0;
  }
  
  
ul{list-style-type: none;
    display: inline-block;
   
    
}
li{list-style-type: none;
    display: inline-block;
}

header{
    height: 25vh;
    width: 100%;
    background-image: url(fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Container-total {
    width: 100%;
    position: relative;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
    
  }

.btn-label {
    width: 2rem;
    height: 1.4rem;
  }
  .header-button {
    width: 2rem;
    height: 0.2rem;
    background: #000;
    position: absolute;
    top: 1.9rem;
    right: 1rem;  
    transition: all 0.2s;
  }
  .header-button::before,
  .header-button::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: #000;
    position: absolute;
    top: -0.6rem;
    transition: all 0.2s;
  }
  .header-button::after {
    top: 0.6rem;
  }
.nav-link{
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    border: 3px solid black;
    font-family: 'Courgette', cursive;
    text-decoration: none;
    font-size: 18px;
    color: rgb(94, 40, 2);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

}
.menu {
    background-image: url(fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 8rem;
    position: fixed;
    z-index: 9;
    top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    transition: all 0.5s;
  }
  ul {
    list-style: none;
  }
  li {
    margin: 0.5rem;
  }
  a {
    margin: 0 1rem;
    color: #000;
    text-decoration: none;
  }
 
  
    
    

.logos{
    
    display: inline-block;
    position: absolute;
    left: 1rem;
    z-index: 8;
    }
div{display: inline-block;}

.checkbox:checked ~ .menu {
    background: #fff;
    top: 0rem;
    z-index: 11;
  }
  .checkbox:checked + header .Container-total label .header-button {
    background: none;
  }
  .checkbox:checked + header .Container-total label .header-button::before {
    transform: rotate(35deg);
    top: 0;
  }
  .checkbox:checked + header .Container-total label .header-button::after {
    transform: rotate(-35deg);
    top: 0;
  }


  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

section{
    
    width: 100%;

}
.div #imagenCafe {
    display: flexbox;
 
 width: 100%;

}
img{
height: auto;
width: 100%; 
object-fit: cover;

}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
    margin: 0%;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item{position: relative;}

.gallery__title {position:absolute;
bottom: 0;
color: #d1d1d1;
background: linear-gradient(rgba(255, 255, 255, 0.608),rgba(0, 0, 0, 0.793));
width: 100%;
margin: 0;
padding: 10px;
}

.gallery__item:nth-child(2){
grid-row-start: span 2 ;
}

.gallery__item:nth-child(4){
    grid-row-start: span 2 ;
    }

    .gallery__item:nth-child(8){
        grid-row-start: span 2 ;
        }
        .gallery__item:nth-child(1){
            grid-column-start: span 2 ;
            }

            .gallery__item:nth-child(6){
                grid-row-start: span 2 ;
                }        

@media (min-width:768px) {
.gallery-container {
grid-template-columns: repeat(4, 1fr);
width: 90%;
margin: auto;
}
.gallery__item:nth-child(7){
    grid-row-start: span 2 ;
    }
    
    .gallery__item:nth-child(2){
        grid-row-start: span 2 ;
        }
}

#main-container {
    margin: 50px auto;
    width: 95%;
    
}
table{
width: 100%;
background-color: white;
text-align: left;
display: flex;
justify-content: center;
font-size: 20px;
height: auto;
}

th, td{
    border: solid 2px black;
    border-collapse: collapse;
    padding: 30px;
}
#row1{
    background-color: saddlebrown;
    color: white;
    border-bottom: solid 5px rgba(0, 0, 0, 0.793);
}

#Nosotros{
width: auto;
margin: 5px;
padding: 15px;
display: flex;
align-items:center;
font-size: 25px;
flex-direction:column;

}

#Historia{
padding-bottom: 20px;
    
    }


<!-- colores los encuentro en https://coolors.co/palettes/trending --->
